.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 120px 0;
}

.heading {
    text-align: center;
    margin-top: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.link {
    color: var(--link-color);
    text-decoration: none;
}
