.profile_options {
    width: 320px;
}

.personal_details {
    width: 860px;
}

.logout {
    cursor: pointer;
}

.buttons {
    display: flex;
    width: 480px;
    justify-content: flex-end;
}

.link {
    color: inherit;
    text-decoration: none;
}
