.container {
    max-width: 600px;
}

.list {
    padding: 0 16px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
}

.listItem {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    position: relative;
}

.price {
    display: flex;
    align-items: center;
}

.description {
    margin: 0;
    text-align: center;
}