.wrapper {
    width: 100%;
    display: flex;
}

.container_left {
    width: 600px;
}

.feed {
    max-height: 640px;
    overflow: scroll;
    overflow-x: hidden;
}

.feed::-webkit-scrollbar {
    width: 8px;
}

.feed::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color)
}

.feed::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.container_right {
    width: 580px;
}

.box {
    background-color: #1C1C21;
    border-radius: 40px;
}

.box_top {
    display: flex;
    justify-content: space-between;
}

.box_bottom {
    display: flex;
    justify-content: space-between;
}

.images {
    display: flex;
}

.ingredient_image_outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: -15px;
    background-image: linear-gradient(var(--purple-color), var(--blue-color));
}

.ingredient_image_inner {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredient_image_inner img {
    width: 112px;
    height: 56px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders {
    display: flex;
}

.completed {
    flex: 1;
}

.completed_item {
    margin-top: 0;
    color: var(--emerald-color);
}

.in_progress {
    flex: 1;
}

.in_progress_item,
.orders_heading {
    margin-top: 0;
}

.number {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
